# Next.js
.next/
out/
build/

# Deps
node_modules/

# Env files
.env
.env.local
.env.*.local
.env.development
.env.production
.env.test

# Project docs (not for repo)
ARCHITECTURE.md

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.swp
*.swo
