@reference "tailwindcss";

.wrapper {
  @apply relative inline-flex;

  &:hover .tip,
  &:focus-within .tip {
    opacity: 1;
  }
}

.tip {
  @apply absolute text-xs;
  @apply pointer-events-none whitespace-nowrap;
  @apply rounded-sm z-50;
  font-family: var(--font-mono);
  padding: 0.25rem 0.5rem;
  background-color: var(--color-fg);
  color: var(--color-bg);
  opacity: 0;
  transition:
    opacity var(--duration-micro) var(--ease-expo),
    transform var(--duration-micro) var(--ease-expo);
}

.top {
  bottom: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%) translateY(4px);

  .wrapper:hover &,
  .wrapper:focus-within & {
    transform: translateX(-50%) translateY(0);
  }
}

.bottom {
  top: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%) translateY(-4px);

  .wrapper:hover &,
  .wrapper:focus-within & {
    transform: translateX(-50%) translateY(0);
  }
}

.left {
  right: calc(100% + 0.5rem);
  top: 50%;
  transform: translateY(-50%) translateX(4px);

  .wrapper:hover &,
  .wrapper:focus-within & {
    transform: translateY(-50%) translateX(0);
  }
}

.right {
  left: calc(100% + 0.5rem);
  top: 50%;
  transform: translateY(-50%) translateX(-4px);

  .wrapper:hover &,
  .wrapper:focus-within & {
    transform: translateY(-50%) translateX(0);
  }
}
